<div class="mdl-card mdl-shadow--2dp demo-card-image">
  <div class="mdl-card__title mdl-card--expand"></div>
  <div class="mdl-card__actions ">
    <span class="demo-card-image__filename"><%= autor %> Roberto Baladrón Pardo</span>
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/">Inicio</a>
      Mi página en <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" rel="author"
     href="https://plus.google.com/u/0/+RobertoBaladr%C3%B3nPardo/about/p/pub"
     title="Roberto Baladrón Pardo en Google+">Google+</a>
  </div>
</div>
<!--
  <%= autor %> Roberto Baladrón Pardo <br>
  <img src="https://lh3.googleusercontent.com/-uDiMYVJQUuo/AAAAAAAAAAI/AAAAAAAAAb4/MxEooo8NdSM/s120-c/photo.jpg">
<br>
  <span>
    <a href = "/"> Inicio </a>
    Mi página en <a rel="author"
   href="https://plus.google.com/u/0/+RobertoBaladr%C3%B3nPardo/about/p/pub"
   title="Roberto Baladrón Pardo en Google+">Google+</a>
 </span> -->
