  <%= autor %> Roberto Baladrón Pardo <br>
  <img src="https://lh3.googleusercontent.com/-uDiMYVJQUuo/AAAAAAAAAAI/AAAAAAAAAb4/MxEooo8NdSM/s120-c/photo.jpg">
<br>
  <span>
    <a href = "/"> Inicio </a>
    Mi página en <a rel="author"
   href="https://plus.google.com/u/0/+RobertoBaladr%C3%B3nPardo/about/p/pub"
   title="Roberto Baladrón Pardo en Google+">Google+</a>
  </span>
