* {
  margin: 0;
  padding: 0;
}
body {
  font: 16px Georgia, serif;
}
#page-wrap {
  margin: 2% auto;
  color: white;
}
#page-wrap > .main {
  border: 1px solid #999;
  padding: 1%;
  margin-bottom: 1px;
  color: black;
}
section > div {
  padding: 20px;
}
header, nav, section {
  background: #eee;
  text-align: center;
}
footer {
  background: #eee;
  text-align: center;
}
nav span {
  margin: 0px 10px 0px 0px;
}
#ErrorMsgs {
  color: #f61;
  font-size: smaller;
}

/** css para tabla responsive **/

#tabla {
  display: block;
  background: #fff;
  margin: 0 auto;
  padding: 10px 17px;
  -webkit-box-shadow: 2px 2px 3px -1px rgba(0, 0, 0, 0.35);
}
#preguntas {
  margin: 0 auto;
  font-size: 1.2em;
  margin-bottom: 15px;
}
#preguntas thead {
  cursor: pointer;
  background: #c9dff0;
}
#preguntas thead tr th {
  font-weight: bold;
  padding: 12px 30px;
  padding-left: 42px;
}
#preguntas thead tr th span {
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}
#preguntas thead tr th.headerSortUp, #preguntas thead tr th.headerSortDown {
  background: #acc8dd;
}
#preguntas thead tr th.headerSortUp span {
  background-image: url('http://i.imgur.com/SP99ZPJ.png');
}
#preguntas thead tr th.headerSortDown span {
  background-image: url('http://i.imgur.com/RkA9MBo.png');
}
#preguntas tbody tr {
  color: #555;
}
#preguntas tbody tr td {
  text-align: center;
  padding: 15px 10px;
}
#preguntas tbody tr td.izquierda {
  text-align: left;
