<form action="/quizes/<%= quiz.id %>/answer" method="get">

  Pregunta :
  <%= quiz.pregunta %>
  <p>
    <input name="respuesta" placeholder="Respuesta" type="text"/>
    <input type="submit" value="Enviar">
  </form>
