<form method="get" action="/quizes/<%= quiz.id %>/anser">

  Pregunta : <%= quiz.pregunta %> <p>
  <input type="text" name="repuesta" value="Respuesta"/>
  <input type="submit" value="Enviar">
</form>
