<p><span>Quiz por Roberto Baladrón Pardo.</span></p>
<p>
  <span>
    <img src="https://lh3.googleusercontent.com/-uDiMYVJQUuo/AAAAAAAAAAI/AAAAAAAAAb4/MxEooo8NdSM/s120-c/photo.jpg">
  </span>
</p>
<p>
  <span>
    Mi página en <a rel="author"
   href="https://plus.google.com/u/0/+RobertoBaladr%C3%B3nPardo/about/p/pub"
   title="Roberto Baladrón Pardo en Google+">Google+</a>
  </span>
 </p>
