<h2>Login</h2>

<form action='/login' method='POST'>
  <div class="field">
    <label for="login">Login:</label><br/>
    <input id="login" name="login" size="30" type="text"/>
  </div>
  <div class="field">
    <label for="password">Password:</label><br/>
    <input id="password" name="password" size="30" type="password"/>
  </div>
  <div class="actions">
    <input name="commit" type="submit" value="login"/>
  </div>
</form>
